/*
 	Brandon Sease
    AFW 07/12
    Project 3
*/

#map_canvas {
    margin: 0;
    padding: 0;
    height: 100%
}

.title {
    text-align:center;
    font-weight:bold;
}

dt {
    font-weight: bold;
}

#vidWrapper {
    height: 90%;
    width: 90%
}