/*
 	Brandon Sease
    AFW 07/12
    Project 3
*/

#map_canvas {
    margin: 0;
    padding: 0;
    height: 100%;
}

.title {
    text-align:center;
    font-weight:bold;
}

dt {
    font-weight: bold;
}

#vidWrapper {
    width: 90%;
}

​.ui-page .ui-content .ui-listview .ui-li-desc {
    white-space : normal;
}​

 .ui-li .ui-btn-text a.ui-link-inherit {
     white-space: normal;
 }

.ui-btn-inner {
    white-space: normal;
}